<div class="message-component" data-cy="message-component">
  <div #scroll [scrollTop]="scroll.scrollHeight" class="message-container">
    <div class="messages">
      <div *ngFor="let message of messages"
           [ngClass]="{'current-user': isCurrentUser(message.userId), 'other-user': !isCurrentUser(message.userId)}" data-cy="message">
        <div class="bubble">
          <div *ngIf="!isCurrentUser(message.userId)" class="user-name">
            {{message.userName}}
          </div>
          <div class="message-text">
            <span class="margin-right-10">{{message.text}}</span>
            <span *ngIf="isToday(message.date)" class="message-date">
              {{message.date | date:'hh:mm'}}
            </span>
          </div>
          <div *ngIf="!isToday(message.date)" class="message-date">
            {{message.date | date:'dd MMM yyyy'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <form (submit)="send()" class="message-form" data-cy="message-form">
    <input #messageInput [formControl]="name" placeholder="Write your message..." type="text">
    <div class="send-button">
      <button [disabled]="name.value == ''" type="submit">
        send
      </button>
    </div>
  </form>
</div>
