<div class="application-component" data-cy="application-component">
  <div class="application-container">
    <ng-container *ngIf="!user">
      <div class="userForm" data-cy="user-form">
        <h1 class="marginBottom15">
          Welcome to the chat
        </h1>
        <div class="marginBottom15">
          What is your name ?
        </div>
        <form (submit)="activateUser()">
          <input #userInput [formControl]="userName" class="marginBottom15" type="text">
          <button *ngIf="userName.value" type="submit">
            Let's go!
          </button>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="user">
      <app-messages [user]="user"></app-messages>
    </ng-container>
  </div>
</div>
