<div class="application-component" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <div class="application-container">
    <ng-container *ngIf="!user">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill fxLayoutGap="15px">
        <h1>
          Welcome to the chat
        </h1>
        <div>
          What is your name ?
        </div>
        <form (submit)="activateUser()" fxLayoutGap="15px" fxLayout="column" fxLayoutAlign="center center">
          <input type="text" [formControl]="userName">
          <button type="submit" *ngIf="userName.value" mat-flat-button color="primary">
            Let's go!
          </button>
        </form>
      </div>
    </ng-container>
    <ng-container *ngIf="user">
      <app-messages [user]="user"></app-messages>
    </ng-container>
  </div>
</div>
