$material-theme: (
  50 : #e7f3fa,
  100 : #c3e0f2,
  200 : #9bccea,
  300 : #73b7e1,
  400 : #55a7da,
  500 : #3798d4,
  600 : #3190cf,
  700 : #2a85c9,
  800 : #237bc3,
  900 : #166ab9,
  A100 : #ebf5ff,
  A200 : #b8daff,
  A400 : #85c0ff,
  A700 : #6cb2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
