/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import 'theme.scss';

@include mat-core();
$my-app-primary: mat-palette($material-theme);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #D9DBD6;
}

